tr
    td
        p Hi #{@first_name},

tr
    td
        p
            | Please use
            strong  #{@token}
            |  to confirm your account.

tr
    td
        p
            | If you missed the Account Confirmation Screen during registration, you can find it by following these steps: Login Screen --> Account Confirmation link (below Login button).
        p
            | Thank you,
        p
            b Park Smart
