tr
  td
    p Hello #{@resource.first_name}!
tr
  td
    p Your password has been updated.
tr
  td
    p If you did not initiate this, or if you believe this is a mistake, please inform us immediately through <a href = "mailto:Help@EastonMD.gov">Help@EastonMD.gov</a> and <a href="tel:410-822-2525">410-822-2525</a>. Otherwise, you can disregard this email.
    p
      | Thank you,
    p
      b Park Smart

