tr
  td
    p
      | Hi, #{@email}!
    p
    | Parking Session ##{@session.id} expired for plate number #{@session.vehicle.plate_number}. Session ended (#{formatted_datetime((@session.check_out + @session.overtime))})
